        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                          <span><img alt="image" class="img-circle" src="/static/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{request.user.username}}</strong>
                                 </span> <span class="text-muted text-xs block">Project Manager<b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a >Profile</a></li>
                                <li><a >Contacts</a></li>
                                <li><a >Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="accounts/logout">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            SwIRL
                        </div>
                    </li>
                    <li class="active">
                        <a href={% url "index" %}><i class="fa fa-th-large"></i> <span class="nav-label">Home</span></a>
                    </li>
                    {% if request.user.role_id.id == 0 or request.user.role_id.id == 1 %}
                    <li>
                        <a ><i class="fa fa-diamond"></i> <span class="nav-label">Users</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="active"><a >Role Management</a></li>
                            <li><a >Staff Management</a></li>
                            <li><a >Leader Management</a></li>
                            <li><a >Member Management</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Statistics</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a >Overall</a></li>
                            <li><a >Space Reserve Statistics</a></li>
                            <li><a >Training Statistics</a></li>
                            <li><a >Register Statistics</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">Reservation</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href='{% url "reservation_index" %}'>Make Reservations</a></li>
                            <li><a href='{% url "reservation_history" %}'>Reservation History</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">Teams</span> <span class="fa arrow"></span> </a>
                        <ul class="nav nav-second-level collapse">
                            {% if request.user.role_id.id == 0 or request.user.role_id.id == 1 %}
                            <li><a href='{% url "team_view" %}'>Team List</a></li>
                            {% else %}
                            <li><a href='{% url "team_view" %}'>My Teams</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Training</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a >Training List</a></li>
                            <li><a >Apply Training</a></li>
                        </ul>
                    </li>
                    <!--<li>-->
                    <!--    <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">Task Management</span></a>-->
                    <!--    <ul class="nav nav-second-level collapse">-->
                    <!--        <li><a href="projects.html">Task List</a></li>-->
                    <!--        <li><a href="profile.html">Create Task</a></li>-->
                    <!--        <li><a href="timeline.html">Tracking Task</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                </ul>
            </div>
        </nav>
 